a {
  text-decoration: none;
}

body {
  width: 1920px 100%;
}

.d_flex {
  display: flex;
  justify-content: center;
}

.logo-title-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.the-logo {
  margin-left: 6px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
}

.logo-div {
  position: relative;
  height: 67px;
  width: 58px;
}

img .logo-div {
  height: 67px;
  width: 58px;
}

.green-text {
  color: #18cfab;
}

.H-logo {
  height: 31px;
  width: 58px;
  color: white;
  position: absolute;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 18px;
  top: 0;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #5e5d58;
  opacity: 0.6;
  position: fixed;
  top: 0;
}

.navbar {
  width: 614.8px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  margin-left: 305px;
  text-transform: uppercase;
}

.icon-link {
  color: #ffffff;
}

.icon-link:hover {
  color: #18cfab;
}

.main-section {
  height: 1012px;
  background-image: url(../Step_Project_Ham/Sections_background/section-1-header.jpg);
}

.the-ham-is {
  margin-top: 265px;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  line-height: 1px;
  text-align: center;
  color: white;
}

.We-are-creative-slogan {
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 78px;
  font-weight: 700;
  text-align: center;
  color: white;
  margin-top: 22px;
}

.just-buy-and-enjoy {
  margin-top: 22px;
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 400;
  text-align: center;
  color: #d4d4d4;
}

.main-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat;
}

.now-buttons {
  margin-top: 129px;
}

.primary-btn {
  width: 168px;
  height: 63px;
  color: white;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.explore-btn {
  background-color: #18cfab;
}

.purchase-btn {
  margin-left: 26px;
  background-color: #00cbf6;
}

.grid-container {
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  text-transform: uppercase;
}

.grid-items {
  height: 377px;
  display: flex;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.grid-items:hover {
  transform: scale(1.02);
}

.grid-link-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 110px;
}

.grid-link-div-1,
.grid-link-div-3 {
  padding-top: 85px;
}

.grid-link-div-2,
.grid-link-div-4 {
  padding-top: 95px;
}

.grid-span-1,
.grid-span-3 {
  padding-top: 48px;
}

.grid-span-2,
.grid-span-4 {
  padding-top: 58px;
}

.grid-item-1,
.grid-item-3 {
  background-color: #1c2a33;
  color: #18cfab;
}

.grid-item-2,
.grid-item-4 {
  background-color: #18cfab;
  color: white;
}

.our-services-main-text {
  padding-top: 83px;
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 400;
  color: #4e4e4e;
}

ul {
  list-style: none;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: flex;
}

.tabs-title {
  margin-top: 100px;
  cursor: pointer;
  background-color: #edefef;
  color: #717171;
  height: 76px;
  width: 195px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs-title.active {
  background-color: #18cfab;
  color: white;
}

.tabs-title:hover {
  border: 1px solid #18cfab;
}

.none-text {
  display: none;
}

.show-text {
  display: flex;
}

.tabs-content li {
  padding-top: 25px;
  height: 139px;
  width: 1159px;
}

.tabs-content img {
  padding-right: 15px;
  height: 139px;
  width: 192px;
}

.tabs-content span {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
}

.everything-is-ready-section {
  margin-top: 90px;
  height: 477px;
  width: 1920px 100%;
  background-image: url(../Step_Project_Ham/Sections_background/section-bcgrd.png);
}

.everything-is-ready-text {
  padding-top: 127px;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.smooth-relieble-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #d8d8d8;
  padding-top: 12px;
}

.purchase-btn-section-2 {
  background-color: #18cfab;
}

.div-purchase-btn {
  margin-top: 62px;
}

.our-amazing-work-title {
  padding-top: 95px;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  color: #4e4e4e;
}

.img-tabs {
  margin-top: 97px;
  display: flex;
}

.tab-img-title {
  padding: 14px;
  background-color: white;
  color: #717171;
  border: 1px solid #dadada;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}

.tab-img-title.active {
  border-color: #18cfab;
  color: #18cfab;
}

.none-img {
  display: none;
}

.div-img {
  padding-top: 70px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1140px;
}

.plus-icon {
  padding-right: 15px;
}

.load-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #18cfab;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.our-amazing-work-title-section {
  background-color: #e9edef;
  padding-bottom: 100px;
  max-height: 2250px;
}

.breaking-news-title {
  padding-top: 82px;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

.img-wrapper {
  position: relative;
}

.badge {
  position: absolute;
  height: 68px;
  width: 70px;
  right: 0px;
  top: 0px;
  background-color: #203e38;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.breaking-grid-link {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.flex-column {
  height: 37px;
  width: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.badge-data {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.breaking-grid-text {
  height: 40px;
  width: 227px;
  margin-top: 3px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  color: #717171;
  display: flex;
  align-items: center;
  justify-content: center;
}

.breaking-grid-comment {
  padding-top: 5px;
  padding-left: 20px;
  height: 40px;
  width: 180px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}

.breaking-grid-link:hover .badge {
  background-color: #18cfab;
}

.breaking-grid-link:hover .breaking-grid-text {
  color: #18cfab;
}

.breaking-grid-container {
  margin: auto;
  width: 1160px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 35px 44px;
}

span.by-admin-text:after {
  content: "|";
  display: inline-block;
  padding-left: 13px;
}

.what-people-say-section {
  margin-top: 128px;
  height: 853px;
  width: 1920px 100%;
  background-image: url(../Step_Project_Ham/Sections_background/section-3.jpg);
}

.what-people-say-title {
  padding-top: 98px;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  color: white;
}

.slider-gaps {
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slider-container {
  max-width: 1200px;
  margin: 30px auto;
  background: #f1f1f1;
  padding: 30px;
}

.slider-btn {
  height: 34px;
  width: 34px;
  background-image: none;
  background: transparent;
  font-size: 21px;
  font-weight: 600;
  color: #bbbbbb;
  border: 1px solid #bbbbbb;
}

.slider-btn:hover {
  background-color: #18cfab;
  color: white;
  border: none;
}

.slider {
  border: 12px solid #045645;
  border-radius: 50%;
  width: 143px;
  height: 142px;
  margin: 20px auto;
  overflow: hidden;
}

.slide {
  width: 143px;
  height: 142px;
}

.person-icons-btn {
  padding-top: 51px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 483px;
}

.person-tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 420px;
  height: 96px;
  padding-left: 30px;
  padding-right: 30px;
}

.tab-person img {
  border: 5px solid #045645;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.tab-person.active {
  padding-bottom: 13px;
}

.none-opinion {
  display: none;
}

.show-opinion {
  display: block;
}

.opion-content {
  margin-top: 36px;
}

.opinion {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  color: #bbbbbb;
}

.opinion-text {
  min-height: 45px;
  width: 1160px;
}

.slider-person-data {
  display: flex;
  flex-direction: column;
  margin-top: 37px;
  margin-bottom: 38px;
}

.slider-name-person {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #18cfab;
}

.slider-person-profession {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  color: #bbbbbb;
}

.gallery-title {
  margin-top: 108px;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

.grid-photo-gallery {
  padding-top: 115px;
  margin: auto;
  width: 1160px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  padding-bottom: 180px;
  column-gap: 20px;
}

.grid-photo-column img{
  padding-bottom: 20px;
}

.little-grid-photo-column{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.little-grid-photo-column img{
  width: 118px;
  height: 92px;
  padding-bottom: 3px;
}

.footer {
  height: 121px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22353f;
  color: #aeaeae;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
}